h1 {
	margin-top: 40px;
	font-weight: lighter;
	letter-spacing: 3px;
	font-size: 50px;
}

h3 {
	font-weight: lighter;
	letter-spacing: 2px; 
}

h1, h3, h4, h5 {
	color: #4d4d4d;
}

body {
	/*background-image: url("mountains.jpg");*/
	background-size: 110%;
	background-repeat: no-repeat;
    margin: 10px 40px 10px 40px;
    font-family: "Helvetica"; 
    font-weight: lighter;
    color: #666666; 
}

p {
	letter-spacing: 0.5px;
}

img {
    display: block;
    margin: auto;
    width: 40%;
}

div.tab {
	overflow: hidden; 
	border: 1px solid #ccc; 
	background-color: #f0f8ff;
}

div.tab button {
	background-color: inherit; 
	float: left;
	border: none;
	outline: none;
	cursor: pointer;
	padding: 14px 20px;
	font-family: "Helvetica";
	font-weight: lighter; 
	letter-spacing: 1px;
	font-size: 14px;
}

div.tab button:hover {
	background-color: #b0e0e6; 
}

div.tab button.active {
	background-color: #add8e6;
}

.tabcontent {
	display: none;
	padding: 10px 0px 10px 0px; 
	border: none;
	border=top: none;
}